


body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#nav_bar{
	position: fixed;
	width: 100%;
	z-index: 1;
}

#nav_bar ul{
	list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
	overflow: hidden;
	color: white;
}

li {
    float: left;
}

li h1{
	height: 20%;
	margin-top: 17%;
	margin-left: 100%;
	font-size: 30pt;
}

li img {
    height: 50px;
	width: 100px;
	/*float: left;*/
	right: 10px;
}
li #teamLogo{
	width: 100px;
	/*margin-right: 10%;*/
	float: right;

}
li a {
	margin-top: 16%;
	margin-left: 10%;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	background-color: black;
	width: 200px;
	z-index: 1;
}
h1{
	font-family: Impact;
	padding-left: 10%;
}
rect{
	fill: lightblue;
	stroke: darkblue;
	stroke-width: 2px;
}
line{
	fill:black;
	width: 10px;
	stroke-width: 3px;
}

#fourthVis {
	display: inline;
	height: 600px;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	width: 100%;
	position: relative;
	font-family: "Myriad Pro";
	/*margin-top: -5%;*/
	top: 100px;
}

#fourthTitle{
	position: absolute;
	display: inline;
	writing-mode: horizontal-tb;
	text-orientation: upright;
	/*padding-bottom: 50px;*/
	top: -900px;
	/*left: 200px*/
}
#fourthTitle p{
	padding-left: 70px;
}
#cardVis {
	position: relative;
	height: 150px;
	/*padding-bottom: 50px;*/
	top: -610px;
	left: 100px
}
#fourthVis svg{
	/*margin-bottom: -50%;*/
}

.tooltip{
	writing-mode: horizontal-tb;
	text-orientation: mixed;
	font-family: "Myriad Pro";
}

.circleBack {
    width: 20%;
    height: 100%;
    background: white;
	z-index: 1;
}

.column {
	float: left;
	width: 49%;
}

.row {
	display: inline;
	width: 100%;
	margin-bottom: -30%;
}

#secondVis {
	margin-top: 10%;
	margin-left: 5%;
	margin-right: -10%;
}


#thirdVis {
	margin-top: 10%;
	margin-left: 5%;
	margin-right: -5%;
}



#footer {

	margin-top: -130px;
	width: 100%;
	height: 25%;
	background-color: #ff0066;
	text-align: center;
	color: white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h4 {
	color: white;
	text-align: center;
}

#disclaimer {
	text-align: center;
	font-style: italic;
	color: white;
	margin-left: 100px;
	margin-right: 100px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  z-index: 1;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.link{
	margin-top: 40px;
	width: 200px;
	height: 100px;
	padding: 11px;
	color: white;
	opacity: 0.9;
	font-size: 12pt;
	cursor: pointer;
	background-color: #EE7600;
	text-align: center;
	text-decoration: none;
}
