
#nav_bar{
	position: inline;
	width: 100%;
	height: 20%;
	/* z-index: 1; */
	background-color: #ff0066;
	padding: 30px;
	text-align: center;
}

rect{
	fill: lightblue;
	stroke: darkblue;
	stroke-width: 2px;

}

#nav_bar img {
    margin-left: 850px;
	margin-top: -7%;
    height: 130px;
	width: 300px;
	float: left;
	z-index: 1;
}

#nav_bar p {
    margin-left: 765px;
	margin-top: 0%;
	margin-bottom: -3%;
    height: 130px;
	width: 300px;
	float: left;
	z-index: 1;
}

#years{
	list-style-type: none;
    float: left;
	margin-left: 400px;
	margin-top: 45px;
	display: inline;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 25pt;
	font-weight: bold;
	color: #330066;
}
rect{
	fill: lightblue;
	stroke: darkblue;
	stroke-width: 2px;
}
line{
	fill:black;
	width: 10px;
	stroke-width: 3px;
}
#fourthVis {
	height: 2000px;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	width: 100%;

}
.tooltip{
	writing-mode: horizontal-tb;
	text-orientation: mixed;
}

.circleBack {
    border-radius: 50%;
    width: 325px;
    height: 325px;
    background: white;
    margin-left: 40%;
	z-index: 1;
	margin-top: -5%;
	margin-bottom: -5%;
}


#footer {
	position: inline;
	margin-top: -130px;  
	width: 100%;
	height: 25%;
	background-color: #ff0066;
	text-align: center;
	color: white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h4 {
	color: white;
	text-align: center;
}

#disclaimer {
	text-align: center;
	font-style: italic;
	color: white;
	margin-left: 100px;
	margin-right: 100px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  z-index: 1;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.link{
	margin-top: 40px;
	width: 200px;
	height: 100px;
	padding: 11px;
	color: white;
	opacity: 0.9;
	font-size: 12pt;
	float: center;
	cursor: pointer;
	background-color: #EE7600;
	text-align: center;
	text-decoration: none;
}
